#HeaderContainer {
    background-color: rgb(222, 208, 240);
    height: 10vh;
}

#HeaderContainer > ul {
    position: relative;
    top:10px;
}

#HeaderContainer > ul > li {
    display: inline;
    margin-right: 20px;
}



